.main-container{
  width: 100vw;
  height: 100vh;
}
.color-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  /* height: 20px; */
  background-color: #704747;
  margin-bottom: 20px;
  padding: 10px;
}
.colors{
  padding: 2px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.black{
  background-color: black;
}